name: App build
on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review, unlabeled]

env:
  mops_version: latest
  moc_version: 0.10.3
  dfx_version: 0.15.2

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Make bin directory
        run: mkdir -p /home/runner/bin

      - name: Install mops
        run: |          
          npm i -g ic-mops@${{ env.mops_version }}

      - name: Install mops packages
        run: mops install
  
      - name: Run test
        run: mops test

      - name: Get dfx
        run: |
          DFX_VERSION=${{ env.dfx_version }} sh -ci "$(curl -fsSL https://internetcomputer.org/install.sh)"

      - name: Build examples
        working-directory: ./examples
        run: |
          for dir in *; do (if [ -d "$dir" ]; then (cd "$dir" && dfx build --check) fi); done
